


body{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
}

/* aqui terminan elementos generales */

.header{
  height: 350px;
  width: 1000px;
}
.logo{
  margin-top: 0px;
}
.header a{
  color: white;
  text-decoration: none;
}

.menu-user img{
  width: 40px;
}

.menu-user-fire img{
  width: 30px;
}

/* Aqui llega la sección header */
.hero{
  height: 350px;
  width: 1000px;
}

.actividad-to-do img{
  width: 150px;
  /* border-top: 3px solid red;
  border-right: 5px solid green;
  border-left: 5px solid orange;
  border-bottom: 5px solid pink; */
  /* border-color: black;
  border-width: 5px;
  border-style: solid; */
  border: 3px solid black;
  border-radius: 10px;
}

.hero a{
  color: white;
  text-decoration: none;
}

.hero-navigation{
  width: 500px;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Fjalla One", sans-serif;
  font-weight: 600;
}

h1{
  font-size: 40px;
  line-height: 0px;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* text-decoration: underline; */
  margin-top: 0px;
  margin-left: 10px;
}

/* aqui llegala seccion hero  */
.el-mapa{
  height: 300px;
  width: 1000px;
  background-image: url(./images/fake-map.png);
  background-size: 1000px 500px;
  /* esto va asi width height  */
  background-repeat: no-repeat;
}

/* AQUI LLEGA LA SECCION MAPS */

.estado-salud-amigos-app{
  width: 480px;
  height: 700px;
  background-color: #353535;
  color: white;
}
.estado-title{
  margin-top: 0px;
  margin-left: 10px;
}
.stats img{
  width: 40px;
}

.app img{
  width: 170px;
}
/* AQUI LLEGA LA SIDE BAR DE STATUS */

.header,
.hero {
  background-color: #119806;
  color: white;
}
