


body{
  font-family: "Source Sans Pro", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Fjalla One", sans-serif;
  font-weight: 600;
}

h1{
  font-size: 40px;
  line-height: 0px;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* text-decoration: underline; */
}
